.error {
    color: #610B0B;
}

.body {

}

h1 {
    font-size: 100%;
    background-color: #E6E6E6;
}

.center {
    margin: auto;
    width: 20%;
    min-height: 30px;
}

.right {
    float:right;
}

.circle {
    border-radius: 50%;
    background: #fff;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0px 20px 20px 0;
}

.mobile {
    width: 400px;
    height: 580px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 30px;
    background: #BADA55;
}

.mobile-screen {
    height: 500px;
    border-radius: 30px;
    padding: 5px;
    margin: 15px 5px 8px 5px;
    background: #fff;
}

.tablet {
    width: auto;
    height: auto;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 30px;
    background: #BADA55;
    min-width: 200px;
}

.tablet-screen {
    border-radius: 30px;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    background: #fff;
    height: auto;
    margin: 25px 15px 25px 15px;
}